
$ascap-primary: #1178ce;
$ascap-primary-focus: #175da7;
$ascap-primary-highlight: #4dbdff;
$ascap-light: #cecece;
$ascap-lighter: #fafafa;
$ascap-steel: rgb(169, 171, 182);
$ascap-inactive: #a7a7a7;
$ascap-silver: #ededed;
$ascap-black: #0d0d0d;
$ascap-lightgradient: linear-gradient(-180deg,#fafafa 0%,#ededed 100%);


button {
  background-color: white;
  border: 0px;
  padding: 8px 20px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 400;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
p,h1,h2,h3,h4,h5,h6,span,div {
  font-family: "Circular Bold", sans-serif;
}
p {
  font-size: 16px;
  margin: 0 0 1em;
  line-height: 1.5;
  margin: 0 0 1em 0;
}
h1 {
  font-size: 1.5em;
  line-height: 1.29;
  font-weight: normal;
  margin-bottom: .33em;
}
h2 {
  font-size: 1.25em;
  line-height: 1.3;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  margin-bottom: .33em;
}
h5 {
  font-size: 1em;
  margin: 0 0 .25em;
  line-height: 1.25;
}
h6 {
  font-size: 14px;
}
div {
  background-color: white;
}
li {
  font-family: sans-serif;
  margin-bottom: 16px;
}
.no-list-style-type {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: $ascap-primary-focus;
}


.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.d-inline {
  display: inline;
}
.d-inline-b {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.border-light {
  border: 1px solid $ascap-light;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.capital {
  text-transform: capitalize;
}
.overflow-y-scr {
  overflow-y: scroll;
}
.mx-auto {
  margin: 0 auto;
}

.normal {
  background-color: white;
  color: $ascap-black;
  &:hover {
    background-color: $ascap-light;
  }
}
.primary {
  background-color: $ascap-primary;
  color: white;
  &:hover {
    background-color: $ascap-primary-focus;
  }
}
.btn-white {
  border: 1px solid $ascap-light;
  background: white;
  color: black;
  &:hover {
    background: $ascap-lighter;
    border-color: $ascap-steel;
  }
}

.alert {
  color: red;
}
.alert--b {
  border: 1px solid red;
}
.hov-silver:hover {
  background-color: $ascap-silver;
}
.white {
  color: white;
}

.checkmark:before {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "✔";
}




// padding, margin, etc
@mixin padding($amount) {
  .p-#{$amount} {
    padding: #{$amount}px;
  }
}

@include padding(10);
@include padding(12);
@include padding(24);

@mixin padding-yx($y, $x) {
  .pyx-#{$y}-#{$x} {
    padding: #{$y}px #{$x}px;
  }
}

@include padding-yx(0,15);
@include padding-yx(12,10);
@include padding-yx(8,20);

@mixin padding-tlbr($t, $r, $b, $l) {
  .ptrbl-#{$t}-#{$r}-#{$b}-#{$l} {
    padding-top: #{$t}px;
    padding-right: #{$r}px;
    padding-bottom: #{$b}px;
    padding-left: #{$l}px;
  }
}

@include padding-tlbr(0,0,0,50);




// $sign indicated if the values are + or -
@mixin margin-yx($y, $x) {
  .myx-#{$y}-#{$x} {
    margin: #{$y}px #{$x}px;
  }
}

@mixin margin-b($bottom) {
  .mb-#{$bottom} {
    margin-bottom: #{$bottom}px;
  }
}

@include margin-yx(0, 0);
@include margin-yx(16, 0);
@include margin-yx(40, 0);
@include margin-yx(0, -15);
@include margin-yx(30, 0);
@include margin-yx(0,10);


@include margin-b(16);

@mixin margin-trbl($t, $r, $b, $l) {
  .mtrbl-#{$t}-#{$r}-#{$b}-#{$l} {
    margin-top: #{$t}px;
    margin-right: #{$r}px;
    margin-bottom: #{$b}px;
    margin-left: #{$l}px;
  }
}
@include margin-trbl(-8,0,0,0);
@include margin-trbl(0,10,0,0);


@mixin left($name, $amount) {
  .left-#{$name} {
    left: $amount;
  }
}
@include left(-8, -8px);
@include left(-72, -72px);


// background color
@mixin backgroundColor($name, $color) {
  .bg-#{$name} {
    background: $color;
  }
}

@include backgroundColor("grey", $ascap-lightgradient);
@include backgroundColor("primary", $ascap-primary-focus);
@include backgroundColor("ascap", $ascap-primary);
@include backgroundColor("transparent", transparent);
@include backgroundColor("inactive", $ascap-inactive);

// borders
@mixin border($name, $color, $width, $type, $radius, $t, $r, $b, $l, $hoverColor) {
  .border-#{$name} {
    border-radius: $radius;
    @if $t {
      border-top: $width $type $color;
    }
    @if $l {
      border-left: $width $type $color;
    }
    @if $b {
      border-bottom: $width $type $color;
    }
    @if $r {
      border-right: $width $type $color;
    }
    @if $name == 'active' {
      :focus {
        border: 0px;
      }
    }
    &:hover {
      border-color: $hoverColor;
    }
  }
}
@mixin border-b($amount, $color) {
  .border-b-#{$amount} {
    border-bottom: #{$amount}px;
  }
}

@include border("active", $ascap-primary, 1px, solid, 2px, true, true, true, true, $ascap-primary-highlight);
@include border("normal", $ascap-steel, 1px, solid, 2px, true, true, true, true, $ascap-primary-focus);
@include border("bubble", white, 8px, solid, 100px, true, true, true, true, white);
@include border("hover", $ascap-primary-highlight, 1px, solid, 2px, true, true, true, true, $ascap-primary-highlight);
@include border("trl", $ascap-steel, 1px, solid, 2px, true, true, false, true, $ascap-primary-highlight);
@include border("rbl", $ascap-steel, 1px, solid, 2px, false, true, true, true, $ascap-primary-highlight);
@include border("trbl", $ascap-steel, 1px, solid, 2px, true, true, true, true, $ascap-primary-highlight);
@include border('b', $ascap-steel, 1px, solid, 2px, false, false, true, false, $ascap-primary-highlight);
@include border('l', $ascap-steel, 1px, solid, 2px, false, false, false, true, $ascap-primary-highlight);


@mixin color($name, $color) {
  .color-#{$name} {
    color: $color;
  }
}

@include color("prime", $ascap-primary-focus);
@include color("inactive", $ascap-inactive);


// font size
@mixin fontsize($amount) {
  .fs-#{$amount} {
    font-size: #{$amount}px;
  }
}

@include fontsize(18);
@include fontsize(16);
@include fontsize(14);
@include fontsize(12);

@mixin boldness($amount) {
  .bold-#{$amount} {
    font-weight: #{$amount};
  }
}

@include boldness(400);
@include boldness(500);
@include boldness(600);
@include boldness(700);
@include boldness(800);


@mixin flexbasis($amount) {
  .flx-basis-#{$amount} {
    flex-basis: percentage($amount / 100);
  }
}

@include flexbasis(33);


@mixin maxheight($amount) {
  .max-h-#{$amount} {
    max-height: #{$amount}px;
  }
}

@include maxheight(300);

@mixin maxwidth($amount) {
  .max-w-#{$amount} {
    max-width: #{$amount}px;
  }
}
@include maxwidth(1140);

@mixin height($name, $amount) {
  .hpx-#{$name} {
    height: $amount;
  }
}
@include height(18, 18px);
@include height(28, 28px);

@mixin width($name, $amount) {
  .w-#{$name} {
    width: percentage( $amount );
  }
}

@include width(100, 1);
@include width(66, 0.6);

@mixin widthpx($name, $amount) {
  .wpx-#{$name} {
    width: $amount;
  }
}
@include widthpx(18, 18px);
@include widthpx(28, 28px);

